body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.letra-blanca{
    color: white;

}
.justificar{
    text-align: justify;
}
.yeri{
    width:100%;
    height:300px;
    background-image: url('https://placekitten.com/200/300');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
  }
.fondo-b{
    background-image: linear-gradient(90deg, #d70f18, #7b2583) ;
}
.fondo-a{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h2{
    color: fuchsia;
}
.manito{
    cursor: pointer;
}
.fondo-c{
    background: radial-gradient(circle, rgba(142,251,63,1) 0%, rgba(70,252,213,1) 100%);
}